@import url('https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu&display=swap');
@import 'Vars.scss';
@import 'Buttons.scss';

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-family-ubuntu);
}

