.btn-primary{
    background-color: var(--color-primary);
    border:  1.5px solid var(--color-primary);
    color: var(--color-white);
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: var(--color-primary-hover);
}
.btn-primary:active{
    background-color: var(--color-primary);
}

.btn-secondary{
    background-color: var(--color-secondary);
    border:  1.5px solid var(--color-secondary);
    color: var(--color-white);
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: var(--color-secondary-hover);
}
.btn-secondary:active{
    background-color: var(--color-secondary);
}

.btn-warning{
    background-color: var(--color-warning);
    border:  1.5px solid var(--color-warning);
    color: var(--color-white);
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-warning:hover{
    background-color: var(--color-warning-hover);
}
.btn-warning:active{
    background-color: var(--color-warning);
}

.btn-error{
    background-color: var(--color-error);
    border:  1.5px solid var(--color-error);
    color: var(--color-white);
    border-radius: 4px;
    padding: 4px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-error:hover{
    background-color: var(--color-error-hover);
}
.btn-error:active{
    background-color: var(--color-error);
}