@media (max-width: 800px) {
    .nav-bar{
        display: block;
    }
    .profile{
        width: 100%;
        padding: 0;
        border-radius: 0 0 50px 50px;
    }
    .information{
        width: 99%;
        padding: 2px;
    }
}

@media (max-width: 360px) {
    .profile{
        flex-direction: column;
    }
    .img-profile{
        padding: 0px;
    }
}