@media (max-width: 800px) {
    .nav-bar{
        display: block;
    }
    .profile{
        width: 100%;
    }
    .information{
        width: 100%;
    }
}

@media (max-width: 360px) {
    .profile{
        flex-direction: column;
    }
    .img-profile{
        padding: 0px;
    }
}