:root{
    --color-primary: #329DFF;
    --color-primary-hover: #6db8ff;
    --color-secondary: #5BFF9D;
    --color-secondary-hover: #95ffc0;
    --color-white: #ffffff;
    --color-output: #ECECEC;
    --color-card: #E8E8E8;
    --color-dark: #4E4E4F;
    --font-family-ubuntu: 'Ubuntu', sans-serif;
    --font-family-header: 'Itim', cursive;;
}